@{
    Layout = "_Layout";
}

@model OKAY.Assignment.MVC.Models.PropertyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PropertyViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bedroom" class="control-label"></label>
                <input asp-for="bedroom" class="form-control" />
                <span asp-validation-for="bedroom" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isAvailable" /> @Html.DisplayNameFor(model => model.isAvailable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="leasePrice" class="control-label"></label>
                <input asp-for="leasePrice" class="form-control" />
                <span asp-validation-for="leasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="owner" class="control-label"></label>
                <input asp-for="owner" class="form-control" />
                <span asp-validation-for="owner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <div class="text-dark">@Model.createdDate</div>
            </div>
            <div class="form-group">
                <label asp-for="updatedDate" class="control-label"></label>
                <div class="text-dark">@Model.updatedDate</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
